<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <extensions>
      <bindingExtensions>
        <add name="rabbitMQBinding" type="RabbitMQ.ServiceModel.RabbitMQBindingSection, RabbitMQ.ServiceModel"/>
      </bindingExtensions>
    </extensions>
  </system.serviceModel>
  <system.serviceModel>
    <services>
      <service name="FileScanningSubscriber.FileScanningHandlingService">
        <host>
          <baseAddresses>
            <add baseAddress="soap.amqp:///" />
          </baseAddresses>
        </host>
        <endpoint address="FileScanning" binding="rabbitMQBinding" bindingConfiguration="rabbitMQConfig" contract="Shared.IFileScanning"/>
      </service>
    </services>
    <bindings>
      <rabbitMQBinding>
        <binding name="rabbitMQConfig" hostname="localhost" port="5672" maxmessagesize="8192" />
      </rabbitMQBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ThrottledBehavior">
          <serviceThrottling maxConcurrentCalls="128" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>