<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <extensions>
      <bindingExtensions>
        <add name="rabbitMQBinding" type="RabbitMQ.ServiceModel.RabbitMQBindingSection, RabbitMQ.ServiceModel"/>
      </bindingExtensions>
    </extensions>
  
    <client>
      <endpoint name="FileScanning" address="soap.amqp:///FileScanning" binding="rabbitMQBinding" bindingConfiguration="rabbitMQConfig" contract="Shared.IFileScanning" />
    </client>
    <bindings>
      <rabbitMQBinding>
        <binding name="rabbitMQConfig" hostname="localhost" port="5672" maxmessagesize="8192" />
      </rabbitMQBinding>
    </bindings>
  </system.serviceModel>
</configuration>